*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide-menu {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.menu, .submenu {
  list-style: none;
}

.menu {
  position: relative;
  flex: 1;
}

.menu > li {
  position: relative;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.submenu {
  position: absolute;
  display: none;
  border: 1px solid #333;
  top: -1px;
  width: 200px;
  z-index: 999;
}

.submenu > li {
  position: relative;
}

.submenu a {
  width: 100%;
}

li:hover > .submenu {
  display: inline-block;
}

.submenu-drop {
  list-style: none;
  display: none;
  position: relative;
}

li:hover > .submenu-drop {
  display: block;
  margin-left: 30px;
}

.toogle-content {
  flex: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.content.table {
  display: table;
  max-width: 600px;
  width: 100%;
  margin-bottom: 50px;
}

.content.table > .header,
.content.table > .item {
  display: table-row;
}

.content > .header {
  display: none;
}

.content.table > .header {
  background-color: #d8d8d8;
}

.content.table > .header > span {
  padding: 5px;
  border-bottom: 3px solid #333;
}

.content.table > .item {
  height: 100px;
}

.content:not(.table) > .item {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 2px solid #333333;
}

.content.table > .header > span,
.content.table > .item > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-bottom: 3px solid #333;
}

.item-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.content.table .item-img {
  padding: 10px;
  border-bottom: 3px solid #333;
}

.item-img > img {
  max-width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 3s;
}

.item-img > img[data-src] {
  opacity: 0;
}

.content.table .item-img > img {
  border: 1px solid #333;
}

.content.table > .item > .item-name {
  max-width: 120px;
}

.content.table > .item > .item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content:not(.table) .item-power,
.content:not(.table) .item-launch {
  display: none;
}

@media (max-width: 460px) {
  .content {
    max-width: 250px;
  }

  .content:not(.table) > .item {
    width: 100%;
    min-width: 200px;
  }

}

